spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/woofers}
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:root}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false # Set to false in production to keep logs clean

server:
  port: ${PORT:8080}

springdoc:
  swagger-ui:
    path: /swagger-ui.html